*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6BCFF;
}

h1 {
    color: #6F3CFF;
    letter-spacing: 0.625rem;
    font-weight: 700;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    border-radius: 1rem;
    height: 90%;
    align-self: center;
}

.right {
    background-color: #9C60FF;
    width: 45%;
    border-radius: 1rem;
    height: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

button {
    border: none;
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    background-color: #9C60FF;
    color: #E9DBFF;
    letter-spacing: 0.01rem;
    font-size: 1.3125rem;
    flex-basis: 5rem;
}

.reset {
    background-color: #C39FFF;
    color: #9C60FF;
    width: 90%;
    letter-spacing: 0.19rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    align-self: center;
    padding: 1rem 0;
    border-radius: 7px;
}

label {
    color: #9C60FF;
    padding-bottom: 0.5rem;
    display: block;
}

input {
    margin-bottom: 0.5rem;
    width: 100%;
}

.right p {
    color: #F3E4FF;
}

.right span {
    color: #C39FFF;
}

.amount {
    display: inline;
}

@font-face {
    font-family: Monospaceland;
    src: url(Monospaceland.otf);
}

.font-DMSans {
    font-family: 'DM Sans', sans-serif;
}

.font-Inconsolata {
    font-family: 'Inconsolata', monospace;
}

.font-Monospaceland {
    font-family: Monospaceland;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column-reverse;
    }
    .left,
    .right {
        width: 90%;
        height: 45%;
    }
}